<div>
  <h1 class="headline">About</h1>
  <p class="about">
    <br><br>
    This website was created by Ilan Sernov.<br><br>
   I am student at the Information Systems Engineering Department Of Ben-Gurion University of the Negev.<br><br>
    I had some difficulties during the work process.<br><br>
    First of all, I am new to Angular and node.js,thus we had to learn a lot from scratch.<br><br>
    In addition I didn't have much time for this work.

  </p>
  <br>
  <div class="about">

    <a href="https://packmanov.000webhostapp.com/">Visit my PackMan Website</a>
    <br>
    <br>
    <br>
    <a href="http://ilanser.000webhostapp.com/">Visit My Website</a>

  </div>

</div>
