<div>
  <h1 class="headline">Be'er Sheva</h1>
  <div class="about"><img align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Be%27er_Sheva_at_night.jpg/750px-Be%27er_Sheva_at_night.jpg">
  </div>
  <p class="about">
    <br><br>
    <span align="left">Beersheba is the largest city in the Negev desert of southern Israel.<br/>
    Often referred to as the "Capital of the Negev", it is the center of the fourth most populous metropolitan area in Israel,<br/>
    the eighth most populous Israeli city with a population of 205,810,<br/>
    and the second largest city with a total area of 117,500 dunams (after Jerusalem).
    </span>
  </p>
  <br>


</div>
