<div >

  <h1 class="headline">Favorites</h1>
  <br/>
  <ul>

    <div ng-repeat="poi in Favorites ">
      <div  class="frame">
        <!--<div id="imageDiv">-->
        <img ng-src="{{poi.img}}" style="float:left ;width:100px;" />
        <!-- </div>-->
        <h3>&nbsp;&nbsp;{{poi.Name}}</h3>
        <ul class = "topFive">
          <p><b>&nbsp;&nbsp;Number of views: </b>{{poi.WatchCount}}</p>
          <p><b>&nbsp;&nbsp;Total rating: </b>{{poi.TotalRank}}</p>
        </ul>
        <ul >
          <p><b>&nbsp;&nbsp;Description: </b>{{poi.PoiDesc}}</p>
          <!--<p><b>&nbsp;&nbsp;Last Reviews: </b>{{poi.review}}</p>-->

          <button class="buttonF" ng-click="addToFavoritesHandler(poi);">Remove From favorites</button>

        </ul>



        <br>
        <br>



        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <br>
    </div>

  </ul>
</div>


