<div id="fixed">

  <div id="menu-bar">
    <h1>Beer Sheva trip advise</h1>
    <img id="logo" src="content\img\logo.png" alt="HTML5 Icon" >
    <ul>
      <li id="login"><a href="#/login" >Login</a></li>
      <li id="Register"><a href="#/Register">Register</a></li>

      <li><a href="#/homeAfterLogin">Home</a></li>
      <li><a href="#/Movies">Movies</a></li>
      <li><a href="#/About">About</a></li>
      <li id="Favorites" style="display: none" ><a href="#/Favorites"><img id="cart" src="Favorites.png" alt="HTML5 Icon" ></a></li>
    </ul>
  </div>

</div>
