<div>

  <h1 class="headline">Suggested Point Of Interests</h1>
  <br/>
  <ul>

    <div ng-repeat="poi in recommendedPoi ">
      <div class="frame">
        <img ng-src="{{poi.img}}" style="float:left ;width:100px;"/>
        <h3>&nbsp;&nbsp;{{poi.Name}}</h3>
        <p><b>Category: </b>{{poi.Category}}</p>

        <ul>
          <p><b>&nbsp;&nbsp;Description: </b>{{poi.PoiDesc}}</p>

          <button class="buttonF" ng-show="isLoggedIn" ng-click="addToFavoritesHandler(poi);">Add to favorites</button>

        </ul>


        <br>
        <br>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

      <br>
    </div>
    <h1 class="headline" ng-show="isLoggedIn">Favorites</h1>


    <br/>
    <br/>
    <br/>
    <br/>

    <div ng-show="isLoggedIn" ng-repeat="poi in local_favorites">
      <div class="frame">
        <img ng-src="{{poi.img}}" style="float:left ;width:100px;"/>
        <h3>&nbsp;&nbsp;{{poi.Name}}</h3>
        <ul>
          <p><b>&nbsp;&nbsp;Description: </b>{{poi.PoiDesc}}</p>

          <button class="buttonF" ng-click="addToFavoritesHandler(poi);">Remove From favorites</button>
          <br/>
          <br/>
          <br/>
          <br/>
        </ul>

      </div>

    </div>

  </ul>
</div>


