<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

<div class="content">

  <form ng-submit="retrievePass()">
    <label >Enter UserName:</label>
    <br/>
    <input type="text" ng-model="userName" placeholder="User Name" />
    <label>What is your secret question?</label>
    <input type="text" ng-model="question" placeholder="Question" />
    <label>What is your answer?</label>
    <input type="text" ng-model="answer" placeholder="Answer" />
    <input type="submit"  value="Ok" />
  </form>
</div>
<div>
  <label ng-show="isShow">&nbsp;&nbsp;&nbsp;&nbsp;Your password is:{{Pass}}</label>
</div>
</body>
</html>
